.about {
  
  .info {

    &__title {
      margin-top: 40px;
      margin-bottom: 15px;
      @include h2;
      color: $dark-green;
    }

    &__text--p1 {
      @include text;
      color: $black;
      margin-bottom: 30px;
    }

    &__text--p2 {
      @include text;
      color: $black;
      margin-bottom: 40px;
    }

    &__link-learn {
      @include text-uppercase;
      color: $dark-green;
      text-decoration-line: none;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.3s;
      padding-bottom: 12px;

      &:hover {
        border-bottom: 1px solid $dark-green;
      }
    }
  }

  &__image--1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__image--2 {
    margin-top: 100px;
    width: calc(100% + 130px);
    height: 80%;
    align-self: flex-end;
    object-fit: cover;
  }
}
