.gifts {

  &__block:nth-child(1) {
    @include text;
    color: $black;

    @include Tablet {
      display: none;
    }

    &::before {
      margin-left: -130px;
      margin-bottom: 100px;
      display: block;
      content: "";
      height: 1px;
      background-color: $green;
      width: calc(100% + 130px);
    }
  }

  &__block:nth-child(2) {
    margin-top: 100px;
    @include h4;
    color: $dark-green;

    @include Tablet {
      grid-column: 2 / 6;
      text-align: center;
      justify-self: center;
    }
    

    &::after {
      
      margin-top: 100px;
      display: block;
      content: "";
      height: 1px;
      background-color: $green;
      width: calc(100% + 130px);

      @include Tablet {
        display: none;
      }
    }
  }
}
