.main {
  &__gifts {
    margin-bottom: 200px;
  }

  &__about {
    margin-bottom: 200px;
  }

  &__shop {
    margin-bottom: 200px;
  }

  &__about-the-creators {
    margin-bottom: 200px;
  }

  &__powder {
    margin-bottom: 240px;
  }

  &__contact-us {
    margin-bottom: 200px;
  }

  &__footer {
    margin-left: -130px;
    margin-right: -130px;
  }
}
