@font-face {
  font-family: "Sharp_Sans";
  src:url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium.otf") format("truetype"); 
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Sharp_Sans";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Semibold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
